<h1>Helmets</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @helmets.each do |helmet| %>
      <tr>
        <td><%= helmet.title %></td>
        <td><%= helmet.creator.first %></td>
        <td><%= link_to 'Show', helmet %></td>
        <td><%= link_to 'Edit', edit_helmet_path(helmet) %></td>
        <td><%= link_to 'Destroy', helmet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', '/' %> |
<%= link_to 'New Helmet', new_helmet_path %>
