<!DOCTYPE html>
<html>
  <head>
    <title>Valkyrie Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% [:notice, :alert, :error].each do |type| %>
      <% if flash[type] %>
        <p><strong><%= type %></strong>: <%= format_flash_message(flash[type]).html_safe %></p>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
