<!DOCTYPE html>
<html>
  <head>
    <title>Valkyrie Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% [:notice, :alert, :error].each do |type| %>
      <% if flash[type] %>
        <p><strong><%= type %></strong>:
        <% if flash[type].is_a?(Hash) %>
          <%= flash[type].each_pair.map { |k, v| "#{k}: #{sanitize(v)}" }.join(", ").html_safe %>
        <% else %>
          <%= flash[type].html_safe %>
        <% end %>
        </p>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
